script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')

.container.bg-dark
    .row
    .row.text-center.text-light.my-5
        .col-12
            | Buket Erşahin
    .row.text-light.text-center.my-5
        .col-12.col-md-4
            | Ege Perim
        .col-12.col-md-4
            | İbrahim Ekmen
        .col-12.col-md-4
            | İbrahim Mert İnan
    .row.text-light.text-center.my-5
        .col-12.col-md-4.mb-2.mb-md-0
            a.btn.btn-primary(href='mailto:egeperim@std.iyte.edu.tr' target='_blank') egeperim@std.iyte.edu.tr
        .col-12.col-md-4.mb-2.mb-md-0
            a.btn.btn-primary(href='mailto:ibrahimekmen@std.iyte.edu.tr' target='_blank') ibrahimekmen@std.iyte.edu.tr
        .col-12.col-md-4.mb-2.mb-md-0
            a.btn.btn-primary(href='mailto:ibrahiminan@std.iyte.edu.tr' target='_blank') ibrahiminan@std.iyte.edu.tr
    .row
