extends layout

block content
    .container
        h1= message
            h2= error.status
            p= error.stack
            p
                a.btn.btn-primary(data-bs-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
                   | Link with href
                button.btn.btn-primary(type='button' data-bs-toggle='collapse' data-bs-target='#collapseExample' aria-expanded='false' aria-controls='collapseExample')
                   | Button with data-bs-target
                collapseExample.collapse
                    .card.card-body
                    | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.

